<div class="content">
    {% for element in content_list %}
    <div class="content-element">
        <div class="photo">
            <img src="http://www.nihonbashimokei.net/data/rc-nihonbashi/image/20151029_54961c.jpg">
        </div>
        <div class="description">
            <div class="description-container">
                <div class="caption">
                    <h1>{{element.caption}}</h1>
                </div
                
            </div>
        </div>


    </div>
    {% endfor %}
</div>