<header>
    <div class="header-container">
        <div class="header-box">
            <div class="logo"> </div>
            <div class="control-buttons-container">
                <div class="button-home-page button-control-panel cursor-pointer"
                onClick="window.location.href='{{home_link}}'">
                </div>
                <div class="button-catalog-page button-control-panel cursor-pointer"
                onClick="window.location.href='{{catalog_link}}'">
                </div>
                <div class="button-lk-page button-control-panel cursor-pointer" 
                onClick="window.location.href='{{lk_link}}'">
                </div>
            </div>
            <input class="search" type="text" placeholder="{{Placeholder_search}}"/>
        </div>
    </div>
</header>

