<div class="popular-element col-md-2">
    <a href="{{element.page_link}}">
        <div class="popular-image cursor-pointer">
            <img src="{{element.photo_path}}" />
        </div>
    </a>
    <div class="element-name cursor-pointer"><a href="{{element.page_link}}"><p>{{element.name}}</p></a></div>
</div>