<div class="popular-element col-md-2">
    <div class="popular-image cursor-pointer">
        <a href="{{element.page_link}}">
        {% if (element.photo_path) %}
            <img src="{{ element.photo_path }}"/>
        {% else %}
            <img src="/images/noPhoto.png"/>
        {% endif %}
        </a>
    </div>
    <div class="element-name cursor-pointer">
        <a href="{{element.page_link}}">
            <h4>{{element.name}}</h4>
        </a>
    </div>
</div>