<article>
    <div class="main-container">
        {% include "toolbar.html.twig" %}
        <div class="content">
            <div class="popular-title">
                <div class="badge"></div>
                <p>{{catalog_title}}</p>
            </div>
            <div class="elements-container">
                {% for element in catalog_list %}
                    {% include "car_element.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>
</article>
