{% extends 'base/base.html.twig' %}
{% block ies %}
    <section class="container col-md-offset-1">
        {% block sidebar %}
            <aside class="sidebar col-md-2">
                {% for category in categories %}
                    <a href="{{ category.href }}">
                        <span>{{ category.name }}</span>
                    </a>
                {% endfor %}
            </aside>
        {% endblock %}
        <section class="col-md-9 main-section">
            {% block body %}{% endblock %}
        </section>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </section>
{% endblock %}