<div class="header-site">
    <div>
        <div class="logo">
            <a src="{{ asset('images/logo.png') }}" href=""/>
        </div>
        <div class="search">
            <img src="{{ asset('images/Magnifying.png') }}"
            <input class="search-field" type="text"/>
        </div>
        <div>
            <div class="button-home-page">
            </div>
            <div class="button-catalog-page">
            </div>
            <div class="button-lk-page">
            </div>
        </div>
    </div>
</div>

