body {
    background-color: #ffffff;
    border-color: #0000ff;
    margin: 0px;
}

.header-box {
    background-color: #00d3c9;
    height: 50px;
    white-space: nowrap;
}

.button-home-page {
    background-color: #5fdfff;
}

.button-catalog-page {
    background-color: #66ff5f;
}

.button-lk-page {
    background-color: #ffae5f;
}

.button-control-panel {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.message {
    display: none;
    margin-left: -350px;
    padding: 10px;
    margin-top: 17px;
    background: #f3f3f3;
    height: 200px;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.button-control-panel:hover .message {
    z-index: 9999;
}

footer {
    background-color: #e2f6ff;
    width: 100%;
    height: 20px;
    bottom: 0px;
    position: fixed;
    flex: 0 0 auto;
}

.search {
    float: right;
    margin: 10px 3% 0px 0px;
    border-radius: 12px;
    background-color: #97edff;
    height: 30px;
    width: 16%;
}

#search-button {
    background-image: url("../images/Magnifying.png");
    background-repeat: no-repeat;
    width: 30px;
    float: left;
    display: inline-block;
    height: 28px;
    background-position: 4px;
    outline: none;
    background-size: 25px;
    background-color: #97edff;
    margin-top: 2px;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}

header {
    max-height: 50px;
    min-height: 50px;
}

.header-box div {
    display: inline-block;
}

.search .img {
    width: 25px;
    height: 25px;
    margin: 3px 0px -6px 6px;
}

.control-buttons-container {
    float: right;
    width: 8%;
    margin-right: 50px;
}

.logo {
    background-image: url(../images/logo.png);
    width: 240px;
    background-size: 170px;
    height: 58px;
    margin-left: 10%;
    background-repeat: no-repeat;
}

.main-container {
    /*width: 80%;*/
    /*padding: 2% 10% 0 10%;*/
    min-height: 500px;
    max-height: 2000px;
}

.sidebar {
    /*width: 20%;*/
    background-color: #9ce1ef;
    height: 700px;
    /*position: absolute;*/
}

.sidebar a {
    font-size: 18px;
}

.content {
    /* float: right; */
    /* position: relative; */
    background-color: #b1e4ee;
    /* height: 100%; */
    min-height: 600px;
    /* min-width: 100%; */
}

.content .popular-title {
    padding-top: 15px;
    padding-left: 15px;
}

.sidebar-element {
    font-size: 18px;
    font-family: cursive;
    padding-top: 10px;
    padding-left: 12px;
}

.sidebar-element:hover {
    color: darkred;
}

.photo {
    width: 20%;
    background-color: #000000;
    height: 200px;
    border-radius: 25px;
    position: absolute;
    display: inline-block;
}

.photo img {
    width: 100%;
    padding-top: 25%;
}

.content-element {
    margin: 0px 0px 0px 48px;
    /* padding-top: 25px; */
    height: 210px;
}

.description {
    float: right;
    width: 100%;
    position: relative;
}

.description-container {
    background-color: #333333;
    float: right;
    width: 80%;
    height: 9%;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 10%;
}

.characteristic-field {
    display: inline-block;
    margin-right: 170px;
}

.outgoing-left {
    margin-left: 10%;
}

.element-name {
    text-align: center;
}

.popular-element {
    /* width: 140px; */
    /* padding: 0px 0px 0px 50px; */
    /* display: inline-block; */
}

.popular-element img {
    width: 100%;
    max-height: 100px;
}

.badge {
    height: 2px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 50px;
    display: inline-block;
    background: blue;
}

.popular-title p {
    display: inline-block;
    font-size: 30px;
}

.popular elements-container {
    overflow-x: scroll;
}

.cursor-pointer {
    cursor: pointer;
}

.button-registration-link {
    width: 50%;
    float: right;
    margin-top: 20px;
    height: 50px;
    display: inline-block;
    background-color: aqua;
    font-size: 25px;
    cursor: default;
}

.button-autorization-link {
    display: inline-block;
    margin-top: 20px;
    width: 50%;
    height: 50px;
    background-color: green;
    font-size: 25px;
    cursor: default;
}

.header-lk-not-enter {
    /* width: 73%; */
    /* margin-left: 16%; */
}

.aqua {
    background-color: aqua;
}

.green {
    background-color: green;
}

.hidden_div {
    display: none;
}

.header-lk-not-enter p {
    font-size: 25px;
    cursor: default;
    margin-left: 25px;
    margin-top: 10px;
}

.lk-not-enter-content {
    /*width: 80%; */
    /* margin-left: 10%; */
    background-color: blue;
    /* height: 400px; */
}

.lk-not-enter-content .con {
    /*(width: 80%; */
    /* margin-left: 10%; */
}

.login-form {
    width: 60%;
    margin-left: 20%;
}

.field-login-form {
    width: 100%;
    background-color: azure;
    height: 30px;
    margin-top: 5px;
}

.entering_button {
    width: 48%;
    background-color: azure;
    height: 30px;
    margin-top: 5px;
    display: inline-block;
}

.forgotten_password {
    width: 48%;
    background-color: #0a660c;
    height: 30px;
    margin-top: 5px;
}

.registration_button {
    background-color: azure;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-field {
    padding-top: 20px;
}

.to-right-side {
    float: right;
}

.search-input {
    /*float: right;*/
    /* margin: 10px 3% 0px 0px; */
    border-radius: 12px;
    background-color: #97edff;
    height: 30px;
    width: 85%;
    border: 0px;
}

.product-image {
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-left: 15px;
}

.product-image img {
    width: 300px;
    padding-top: 20%;
}

.product-name {
    display: inline-block;
    margin-left: 9px;
    /* margin-top: 22px; */
}

.product-name-section{
    padding-left: 20px;
}

.product-name-section .characteristic-field {
    display: block;
    margin-right: 0px;
}

.product-name-section p {
    font-size: 16px;
    margin-left: 18px;
    line-height: 1;
}

.product-footer {
    margin-left: 15px;
}

.main-col h1 {
    font-size: 30px;
}