body {
    border-color: #0000ff;
    margin: 0px;
}

.header-box {
    background-color: black;
    height: 50px;
    white-space: nowrap;
}

.caption h1 {
    margin-top: 0px;
}

.registration-message h4 {
    float: right;
}

footer {
    background-color: #e2f6ff;
    width: 100%;
    height: 20px;
    bottom: 0px;
    position: fixed;
    flex: 0 0 auto;
}

.search {
    float: right;
    margin: 10px 3% 0px 0px;
    border-radius: 12px;
    background-color: #e8e8e8;
    height: 30px;
}

#search-button {
    background-image: url("../images/Magnifying.png");
    background-repeat: no-repeat;
    width: 30px;
    float: left;
    display: inline-block;
    height: 28px;
    background-position: 4px;
    outline: none;
    background-size: 25px;
    background-color: #e8e8e8;
    margin-top: 2px;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}

.search .img {
    width: 25px;
    height: 25px;
    margin: 3px 0px -6px 6px;
}

.control-buttons-container {
    float: right;
    padding-left: 0px;
}

.logo {
    background-image: url(../images/logo.png);
    width: 240px;
    background-size: 170px;
    height: 58px;
    margin-left: 10%;
    background-repeat: no-repeat;
}

.main-container {
    min-height: 500px;
    max-height: 2000px;
    padding: 0 0 0 0;
}

.sidebar {
    padding: 0 0 0 0;
    height: 700px;
}

.sidebar a {
    font-size: 18px;
    min-height: 30px;
    border: 2px solid gray;
    margin-bottom: 2px;
    border-radius: 4px;
    line-height: 20px;
}

.sidebar a:hover {
    background-color: #d8d7ff;
    border-color: forestgreen;
}

.green-border {
    border: 2px solid green;
    border-radius: 10px;
    margin-left: 4px;
}

.content .popular-title {
    padding-top: 15px;
    padding-left: 15px;
}

.content .recent-additions {
    margin-top: 10px;
    padding-bottom: 5px;
}

.sidebar-element {
    font-size: 18px;
    font-family: cursive;
    padding-top: 10px;
    padding-left: 12px;
}

.sidebar-element:hover {
    color: darkred;
}

.photo {
    height: 200px;
    border-radius: 25px;
    background-color: #7cc573;
    padding: 0 2px;
}

.photo img {
    width: 100%;
    padding-top: 35%;
}

.content-element {
    margin: 0px 0px 0px 48px;
    height: 210px;
}

.description {
    float: right;
    width: 100%;
    position: relative;
}

.description-container {
    margin-top: 25px;
    min-height: 150px;
    max-height: 160px;
    border-radius: 0px 10px 10px 0px;
    background-color: #c9ff9f;
}

.characteristic-field {
    display: inline-block;
    margin-right: 170px;
}

.element-name {
    text-align: center;
}

.popular-element img {
    width: 120%;
    max-height: 100px;
}

.popular-title p {
    display: inline-block;
    font-size: 30px;
}

.popular .elements-container {
    height: 120px;
    padding-left: 8.33333333%;
    padding-top: 15px;
}

.elements-container {
    padding-top: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.aqua {
    background-color: aqua;
}

.green {
    background-color: green;
}

.login-field input {
    border-radius: 0px;
    border: 0px;
}

.header-lk-not-enter input {
    border: 0px;
}

.lk-not-enter-content {
    height: 100%;
}

.login-form {
    width: 60%;
    margin-left: 20%;
}

.field-login-form {
    width: 100%;
    background-color: azure;
    height: 30px;
    margin-top: 5px;
}

.entering_button {
    width: 48%;
    background-color: azure;
    height: 30px;
    margin-top: 5px;
    display: inline-block;
}

.forgotten_password {
    width: 48%;
    background-color: #0a660c;
    height: 30px;
    margin-top: 5px;
}

.registration_button {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 54px;
    border: 2px solid grey;
    border-radius: 45px;
    background-color: #a7ffae;
}

.login-field {
    padding-top: 20px;
}

.search-input {
    border-radius: 12px;
    background-color: #e8e8e8;
    height: 30px;
    width: 85%;
    border: 0px;
}

.search:focus {
    background-color: #d8d7ff;
    border-color: forestgreen;
}

.product-characteristics {
    padding-top: 15px;
}

.product-description p {
    line-height: 14px;
    font-size: 14px;
    text-indent: 20px;
    text-align: justify;
}

.product-image {
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-left: 15px;
}

.product-image img {
    width: 300px;
    padding-top: 20%;
}

.popular-element .img {
    width: 100%;
    max-height: 100px;
}

.product-name {
    display: inline-block;
    margin-left: 9px;
}

.product-name-section{
    padding-left: 20px;
}

.product-name-section .characteristic-field {
    display: block;
    margin-right: 0px;
}

.product-name-section p {
    font-size: 16px;
    margin-left: 18px;
    line-height: 1;
}

.product-footer {
    margin-left: 15px;
}

.user-photo {
    min-height: 200px;
}

.user-photo img {
    width: 100%;
    border-radius: 135px;
}

.user-info {
    min-height: 200px;
}

.user-info label {
    font-size: 26px;
    margin-top: 10px;
}

.user-info input {
    margin-left: 10px;
    color: black;
    margin-top: 0px;
    border: 2px solid darkgrey;
    line-height: 30px;
    font-size: 20px;
    border-radius: 16px;

}

.user-info input:focus {
    background-color: #d8d7ff;
    border-color: forestgreen;
}

#change-avatar div {
    margin: 0px auto;
}

#upload-form, .personal-container input[type="submit"] {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 18px;
    height: 30px;
    border: 2px solid darkgreen;
    border-radius: 11px;
    margin-bottom: 10px;
}

#upload-form {
    position: absolute;
    z-index: 20;
    margin-top: 28%;
    margin-left: 36%;
    width: 296px;
}

#avatar-accept {
    position: absolute;
    z-index: 20;
    float: right;
    margin-top: 13%;
    margin-left: 70%;;
}

#layer {
    position: absolute;
    display: none;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 5;
}

.user-liked {
    min-height: 200px;
    color: black;
    padding: 0;
    margin-top: 20px;
    margin-left: 4%;
    overflow-y: hidden;
    overflow-x: auto;
}

.user-liked h3 {
    font-size: 26px;
    font-style: oblique;
    font-weight: bold;
}

.user-liked .popular-element {
    width: 220px;
    height: 120px;
    margin-top: 26px;
}

.user-liked .popular-image img {
    width: 100%;
    height: 100%;
}

.user-liked .element-name {
    width: 100%;
}

.button-area {
    padding: 0;
}

.personal-area {
    padding: 0;
}

.user-info .button-area input {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: 0px;
}

.edit-button,
.exit-button {
    width: 80px;
}

.main-section {
    padding: 0 0 0 0;
}

.marked {
    background-image: url(../images/marked.png);
}

.not-marked {
    background-image: url(../images/not-marked.png);
}

#field-liked {
    height: 50px;
}

#field-liked img {
    height: 50px;
    width: 50px;
}

.marker {
    margin-left: 28px;
    margin-top: 20px;
}

.marker-container {
    background-size: 38px;
    background-repeat: no-repeat;
    height: 40px;
    cursor: pointer;
}